#!/bin/bash

push_ssh_cert() {
    local _host
    test -f ~/.ssh/id_rsa.pub || ssh-keygen -t rsa
    for _host in "$@";
    do
        echo $_host
        ssh $_host 'cat >> ~/.ssh/authorized_keys' < ~/.ssh/id_rsa.pub
    done
}

extract() {
     if [ -f $1 ] ; then
         case $1 in
             *.tar.bz2)   tar xvjf $1     ;;
             *.tar.gz)    tar xvzf $1     ;;
             *.bz2)       bunzip2 $1      ;;
             *.rar)       unrar x $1      ;;
             *.gz)        gunzip $1       ;;
             *.tar)       tar xvf $1      ;;
             *.tbz2)      tar xvjf $1     ;;
             *.tgz)       tar xvzf $1     ;;
             *.zip)       unzip $1        ;;
             *.Z)         uncompress $1   ;;
             *.7z)        7z x $1         ;;
             *)           echo "'$1' cannot be extracted via >extract<" ;;
         esac
     else
         echo "'$1' is not a valid file"
     fi
}

refresh() {
    for dir in $(ls); do
        if [ -d "${dir}/.git" ]; then
            echo "$dir"
            cd ${dir}
            if [ -n "$(git remote)" ]; then
                (test -z "$(git status -s)" && git pull origin master && git push origin master) || return 1
            fi
            cd -
        fi
    done
}

npm() {
    command npm $* 2>/dev/null
}

# GPG helpers
encrypt() { gpg -ao cipher.asc -esr $2 $1; }
decrypt() { gpg -o plain.txt -d $1; }

# Traversal tools
cdir() { mkdir $1 && cd $1; }
cpf() { cp "$@" && goto "$_"; }
mvf() { mv "$@" && goto "$_"; }

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

LS_COMMON="-hBG --color=auto"
test -n "$LS_COMMON" &&
alias ls="command ls $LS_COMMON"

# `ls` conveniences
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias lal='ls -l -A'
alias lla='ls -l -A'
alias lsl='ls -l'
alias lsa='ls -A'

# `cd` conveniences
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias dc='cd -'

# Typos
alias xs='cd'
alias vf='cd'
alias cd..='cd ..'
alias unmount='umount'
alias LS='ls'
alias sl='ls'

# Short forms
alias h='history'
alias c='clear'
alias g='git'

# vim hacks
vim_wrapper() {
    if [ "$#" -eq 1 ]; then
        file=$(echo $1 | perl -ne '/([^:]*):([^:]*):?/; print "$1\n";')
        num=$(echo $1 | perl -ne '/([^:]*):([^:]*):?/; print "$2\n";')
        if [ -z "$file" ] || [ -z "$num" ]; then
            command vim $1
        else
            command vim "$file" "+${num}"
        fi
    else
        command vim -O $*
    fi
}
alias vim='vim_wrapper'
alias vi='command vim'

# Miscellaneous
alias tmux="TERM=screen-256color-bce tmux"
alias root='cd $(git rev-parse --show-toplevel)'
alias wget='wget --no-check-certificate'
alias sbashrc='source ~/.bashrc'
alias ps2pdf='ps2pdf -sPAPERSIZE=a4 -dOptimize=true -dEmbedAllFonts=true'
alias irb='irb --prompt simple'
alias mkdir='mkdir -p'
alias hc='history -c'
alias gcc99='gcc -std=c99 -O -Wall'
alias crun='valgrind --leak-check=yes ./a.out'

alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

alias xcalc='xargs calc'
