#!/bin/bash

LS_COMMON="-hBG"

dircolors="$(type -P gdircolors dircolors | head -1)"
test -n "$dircolors" && {
    COLORS=/etc/DIR_COLORS
    test -e "/etc/DIR_COLORS.$TERM"   && COLORS="/etc/DIR_COLORS.$TERM"
    test -e "$HOME/.dircolors"        && COLORS="$HOME/.dircolors"
    test ! -e "$COLORS"               && COLORS=
    eval `$dircolors --sh $COLORS`
}
unset dircolors

test -n "$LS_COMMON" &&
alias ls="command ls $LS_COMMON"

push_ssh_cert() {
    local _host
    test -f ~/.ssh/id_rsa.pub || ssh-keygen -t rsa
    for _host in "$@";
    do
        echo $_host
        ssh $_host 'cat >> ~/.ssh/authorized_keys' < ~/.ssh/id_rsa.pub
    done
}

extract() {
     if [ -f $1 ] ; then
         case $1 in
             *.tar.bz2)   tar xvjf $1     ;;
             *.tar.gz)    tar xvzf $1     ;;
             *.bz2)       bunzip2 $1      ;;
             *.rar)       unrar x $1      ;;
             *.gz)        gunzip $1       ;;
             *.tar)       tar xvf $1      ;;
             *.tbz2)      tar xvjf $1     ;;
             *.tgz)       tar xvzf $1     ;;
             *.zip)       unzip $1        ;;
             *.Z)         uncompress $1   ;;
             *.7z)        7z x $1         ;;
             *)           echo "'$1' cannot be extracted via >extract<" ;;
         esac
     else
         echo "'$1' is not a valid file"
     fi
}

encrypt() { gpg -ao cipher.asc -esr $2 $1; }
decrypt() { gpg -o plain.txt -d $1; }

cdir() { mkdir $1 && cd $1; }

goto() { [[ -d "$1" ]] && cd "$1" || cd "$(dirname "$1")"; }
cpf() { cp "$@" && goto "$_"; }
mvf() { mv "$@" && goto "$_"; }

gg() {
    if $(command git rev-parse &>/dev/null) && [[ "$(command git rev-parse --show-toplevel)" != "$HOME" ]]; then
        git grep "$*"
    else
        grep --exclude="\.git" --exclude="\.hg" --exclude="vendor" -R -e "$*" .
    fi
}
ggl() {
    if $(command git rev-parse &>/dev/null) && [[ "$(command git rev-parse --show-toplevel)" != "$HOME" ]]; then
        git grep -l "$*"
    else
        grep --exclude="\.git" --exclude="\.hg" --exclude="vendor" -R -e -l "$*" .
    fi
}
hh() { file=$(ggl $* | menu); vim -c "/${*}" $file; }
vu() { vim -c ":G $*"; }

ff() { find . -regex ".*/${*}[^/]*"; }
dd() { file=$(ff $* | menu); vim $file; }

# enable color support of ls and also add handy aliases
if [ -x /bin/dircolors ]; then
#   eval "`dircolors -b`"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias lal='ls -l -A'
alias lla='ls -l -A'
alias lsl='ls -l'
alias lsa='ls -A'

alias sd='sudo shutdown -h now'
alias gcc99='gcc -std=c99 -O -Wall'
alias crun='valgrind --leak-check=yes ./a.out'
alias g='git'

alias pacman='sudo pacman'
alias pinstall='sudo pacman -S'
alias puninstall='sudo pacman -R'
alias psearch='pacman -Ss'

alias xs='cd'
alias vf='cd'
alias cd..='cd ..'
alias unmount='umount'
alias kk='ll'
alias ks='ls'
alias LS='ls'
alias sl='ls'
alias cs='cd'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias dc='cd -'

alias mkdir='mkdir -p'
alias clean='rm -rf compiled \#* *~ .*~ *.bak .*.bak *.tmp .*.tmp core a.out *.gch *.hi'
alias wipe='rm -rf compiled \#* *~ .*~ *.bak .*.bak *.o *.d *.tmp .*.tmp core *.out* *.gch *.hi'
alias texclean='rm -f *.toc *.aux *.log *.cp *.fn *.tp *.vr *.pg *.ky'
alias h='history'
alias c='clear'
alias hc='history -c'
alias du1='du -h --max-depth=1'
alias fn='find . -name'

alias irb='irb --prompt simple'
alias vi='command vim'

alias wget='wget --no-check-certificate'
alias sbashrc='source ~/.bashrc'
alias ps2pdf='ps2pdf -sPAPERSIZE=a4 -dOptimize=true -dEmbedAllFonts=true'

alias root='cd $(git rev-parse --show-toplevel)'
alias lib='cd $(git rev-parse --show-toplevel)/lib/$(basename $(git rev-parse --show-toplevel))'
alias ext='cd $(git rev-parse --show-toplevel)/ext/'
alias bin='cd $(git rev-parse --show-toplevel)/bin'
alias spec='cd $(git rev-parse --show-toplevel)/spec'

alias rbvalgrind='valgrind --partial-loads-ok=yes --undef-value-errors=no --num-callers=50 --error-limit=no ruby'
alias rbgdb='gdb --args ruby'

alias tmux="TERM=screen-256color-bce tmux"
alias vim="vim -O"

[[ -s "$HOME/.git-aliases" ]] && source "$HOME/.git-aliases"
